extends layout

block content
  .container
    h1= title
    h2= message
    br
    // Login form
    form(role='form', action="/login", method="post", style='max-width: 300px;')
      .form-group
        // Username input field
        input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        // Password input field
        input.form-control(type='password', name="password", placeholder='Password')
      // Submit button
      button.btn.btn-primary(type='submit') Submit
      // Cancel button that links back to the home page
      a(href='/')
        button.btn.btn-secondary(type="button") Cancel
